<html lang="zh-CN">
<head>
    <title>chisir chat</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">
    <style>

    </style>

    <script  src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/CQDialog.js"></script>
    <script type="text/javascript" src="/javascripts/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>

    <link href="/stylesheets/common.css" rel='stylesheet' type='text/css' />
    <link href="/stylesheets/chatStyle.css" rel='stylesheet' type='text/css' />
    <link href="/stylesheets/iconfont.css" rel='stylesheet' type='text/css' />
    <!--弹窗组件-->
    <!--<script type="text/javascript" src="/javascripts/dialog.js"></script>-->

    <link href="/stylesheets/CQSwitch.css" rel='stylesheet' type='text/css' />
    <link href="/stylesheets/CQDialog.css" rel='stylesheet' type='text/css' />


</head>
<body>
    <!--HTML5 flex弹性布局-->
    <div class="box" id="app">
        <audio style="display:none" id="musicBox" src="http://data3.huiyi8.com/2015/saraxuss/3/10/1.mp3"></audio>
        <div class="mask" :class="{showmask : active}"></div>
        <!--登录-->
        <div class="newName dialog-login" :class="{inputLeave : active}" >
            <div class="dialog-login-header">创建用户<span class="close" @click="addName">X</span></div>
            <div>
                <input type="text" @keyup.enter="addName" id="creatName" placeholder="起个昵称吧" v-model="newName" style="padding: 4px 12px;vertical-align:middle">
                <button type="button" class="btn btn-info" @click="addName">确定</button>
            </div>
            <!--创建头像缩略图-->

            <ul class="viewImg">
                <li v-for="item in imgList"><img @click="imgClick($event)" class="viewImg-item" :src=item ></li>
            </ul>
            <div class="clear"></div>
        </div>
        <!--内容-->
        <!--左侧菜单栏-->
        <!--:class="{'aside-one-show':showLeftAside}"-->
        <aside class="item aside-one" v-if="showLeftAside" >
            <div class="aside-one-one">
                <img src="/images/me.jpg">
            </div>
            <div>
                <ul class="aside-one-list">
                    <li :class="{active:icon_active}"><i class="iconfont2 icon-duorenliaotian"></i></li>
                    <li @click="searchUser"><i class="iconfont2 icon-chaxun"></i></li>
                    <li @click="updateName"><i class="iconfont2 icon-book"></i></li>
                    <li @click="modifyImg"><i class="iconfont2 icon-tupian"></i></li>
                </ul>
            </div>
            <div class="aside-one-three">
                <p><i @click="updateSetting" class="iconfont2 icon-shezhi"></i></p>
                <p><i @click="turnOff" class="iconfont2 icon-guanji"></i></p>
            </div>
        </aside>
        <!--用户列表栏-->
        <div class="item box-one" v-if="showLeftAside" :class="{'box-one-leave' : showLeftAside}">
            <h4>在线用户:<span class="box-one-num">{{userNum}}</span></h4>
            <ul class="box-one-list">
                <li :class="user.active" v-for="user in userList">
                    <img :src="user.userImg" class="box-one-img">
                    <span class="box-one-name">{{user.userName}}</span>
                </li>
            </ul>
        </div>
        <!--聊天内容区-->
        <article class="item box-two">
            <div class="box-two-one">
                <div>
                    <img :src=imgRoom class="box-one-img img-set">
                    <span style="margin-left: 15px">{{chatRoom}}</span>
                </div>
                <div>
                    <a href="https://github.com/JQSC/JQChat" target="_blank" class="styleA">
                        <i class="iconfont icon-github img-set"></i>
                    </a>
                    <a href="#" class="styleA" @click="changeIcon('iconTj')">
                        <i class="iconfont img-set" :class="{'icon-iconset0174':iconTj,'icon-yinxiaodiaojie':!iconTj}"></i>
                    </a>
                    <a href="#" class="styleA" @click="changeIcon('iconDirection')">
                        <i class="iconfont img-set" :class="{'icon-zuo':iconDirection,'icon-you':!iconDirection}"></i>
                    </a>
                </div>
            </div>
            <div style="" class="box-two-inform">
                更新：
                <span style="color: #0f0f0f">{{message}}</span>
            </div>
            <div class="box-two-two" id="chatList">
                <div class="box-two-list" :class=item.position v-for="item in items">
                    <p class="two-list-item"><img :src=item.image class="box-one-img"></p>
                    <div>
                        <p>{{item.name}}<span>&nbsp;{{item.time}}</span></p>
                        <div class="box-two-position"><span class="box-two-text">{{item.text}}</span></div>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            <footer class="box-two-three">
                <a href="javascript:;" class="styleA">
                    <i class="iconfont icon-browse img-set"></i>
                </a>
                <input id="text" type="text" @keyup.enter="submit" placeholder="输入聊天内容" v-model="chatContent">
                <!--<button type="submit" class="btn btn-default"-->
                        <!--@click="submit" style="margin-left: 5px">发送消息</button>-->
                <a href="javascript:;" class="styleA" @click="submit">
                    <i class="iconfont icon-share img-set"></i>
                </a>
            </footer>
        </article>
        <!--右侧公告栏-->

        <aside class="item aside-two" v-if="showRightAside" :class="{asideLeave : showRightAside}">
            <div style="margin: 10px;">
                <h4>公告</h4>
                <p style="padding-top: 10px">有问题欢迎提issue</p>
                <hr/>
            </div>
            <div style="margin: 10px;">
                <div>
                    <h4>近期活跃
                        <a href="javascript:;" class="styleA" @click="searchUser">
                            <i class="iconfont icon-chaxun img-set"></i>
                        </a>
                    </h4>
                </div>
                <ul class="aside-two-list">
                    <li><img src="/images/boy2.jpg" class="box-one-img"><span style="padding-left: 15px">一叶知秋1</span></li>
                    <li><img src="/images/girl4.jpg" class="box-one-img"><span style="padding-left: 15px">一叶知秋2</span></li>
                </ul>
            </div>
        </aside>
    </div>
</body>
<script>
    var socket= io.connect('http://localhost:8080');
    var el=document.getElementById('chatList');
    var oMusic=document.getElementById('musicBox');
    //处理图片列表
    var oImgList=document.getElementsByClassName('viewImg')[0];
    var oImg=oImgList.getElementsByTagName('img');
    //替换img-active为空
    var re=/\simg-active/g;
    //判断是否存在img-active的对象;
    var qe=/img-active/g;
    //获取焦点
    document.getElementById('creatName').focus();
    //获取弹窗组件
    var Dialog=new CQDialog();
    var app=new Vue({
        el: '#app',
        data: {
            message: '',
            chatContent:'',
            user:false,
            userNum:'',
            newName:'',
            show:true,
            chatUser:'',
            active:false,
            chatRoom:'群聊室',
            imgRoom:'/images/me.jpg',
            imgChat:'',
            chatLeft:'box-two-left',
            chatRight:'box-two-right',
            iconDirection:true, //左右图标的切换
            showRightAside:true,    //控制右侧列表显示隐藏
            showLeftAside:true,
            iconTj:true,         //控制左侧展示的图标
            icon_active:true, //图标active
            screen:false,  //全屏开关
            music:false,  //音乐开关
            items:[
               /* {name:'后知后觉',time:'17:01:12',text:'hello word!',img:''},*/
            ],
            userList:[{active:'box-one-active' }],
            imgList:['boy2.jpg','boy1.jpg','boy3.jpg','girl1.jpg',
            'girl3.jpeg','girl4.jpg','girl5.jpg','girl6.jpg','girl7.jpg'
            ]
        },
        watch:{
            items:function(){

                el.scrollTop = el.scrollHeight;
            }
        },
        created:function(){

            //所有图片列表加入路由指向
            this.updateImg();
            //this.imgClick();

            var _this=this;

            //登录后更新在线人数，及其人数列表--接收服务端用户列表数据
            socket.on('addUser',function(data){

                var user=data.userInfo.userName,
                        timeSign=data.userInfo.time,
                        content=data.text;
                if(!_this.user){
                    _this.user=data.userInfo.userName;
                }
                //update user list
                _this.updateUserList(data.userList,data.id);
                _this.chatUser=data.userInfo.userName;
                _this.message=user+'  '+content+'--'+timeSign

            });
            //接收消息
            socket.on('getMessage',function(message){
                var obj={};
                obj.name=message.name;
                obj.time=message.time;
                obj.text=message.text;
                obj.image=message.image;
                _this.items.push(obj);
            });
            socket.on('disconnect', function() {
                console.log("与服务其断开...");
            });

            socket.on('reconnect', function() {
                console.log("重新连接到服务器中!");
            });
        },
        methods:{
            submit:function(){
                this.playMusic();
                if(this.chatContent!=''){
                    var timeNew=this.getRealTime();
                    var obj={};
                        obj.name=this.user;
                        obj.time=timeNew;
                        obj.text=this.chatContent;
                        obj.image=this.imgChat;
                        obj.position=this.chatLeft;
                    //广播聊天内容
                    socket.emit('chatMessage',obj);
                    //处理当前客户端发送的内容
                    obj.position=this.chatRight;
                    this.items.push(obj);
                    this.chatContent='';
                }
            },
            //获取当前时间
            getRealTime:function(){
                var date=new Date();
                var seconds=date.getSeconds();
                if(seconds<10){ seconds='0'+seconds}
                return date.getHours()+':'+date.getMinutes()+':'+seconds
            },
            //更新用户列表
            updateUserList:function(userList,id){
               //每次有用户加入，重刷用户列表，并计算用户数


                this.userList=[];
                var num=0;
                for(var item in userList){
                    num++;
                    this.userList.push(userList[item])
                }

                   this.userNum=num;

            },
            //登录函数
            addName:function(){
                this.active=true;
                //取出选择的是哪个头像
                var index=0;
                for(var i=0;i<oImg.length;i++){
                    if(qe.test(oImg[i].className)){
                        index=i
                    }
                }
                this.imgChat=this.imgList[index];

                if(this.newName=='')
                {
                    this.newName='无名氏';
                }
                //广播
                socket.emit('login',this.newName,this.imgList[index]);
            },
            updateImg:function(){
                for(var i=0;i<this.imgList.length;i++ ){
                    this.imgList[i]='/images/'+this.imgList[i]
                }
            },
            imgClick:function(ev){
                //正则匹配，去除img-active类属性
                for(var i=0;i<oImg.length;i++){
                    oImg[i].className=oImg[i].className.replace(re,'')
                }
                ev.target.className=ev.target.className+' img-active';

            },
            //切换左右图标
            changeIcon:function(string){
                this.playMusic();
                //疑惑 为什么三目运算符为false的时候没有执行
                //this.iconDirection='icon-zuo'?'icon-you':'icon-zuo';
                switch (string){
                    case 'iconDirection' :
                        this.iconDirection=!this.iconDirection;
                            //控制右侧栏显示隐藏
                        this.showRightAside=!this.showRightAside;
                        break;
                    case 'iconTj':
                        this.iconTj=!this.iconTj;
                            //控制左侧显示隐藏
                        this.showLeftAside=!this.showLeftAside;
                        break;
                    default:
                        return false
                }

            },
            //弹窗组件、查找用户，第二个参数为点击确认后的callback
            searchUser: function () {
                this.playMusic();
                var _this=this;
                Dialog.prompt({ title:'搜索用户',submit:'搜索',input:'搜索用户',maskOpacity:0}, function(inputString,dialog){
                    //回调函数，获取点击确认后输入框的内容

                    var oDialogUl=document.getElementById('dialog_id');
                    if(oDialogUl){
                        dialog.removeChild(oDialogUl)
                    }
                    var oUl=document.createElement('ul');
                    oUl.id='dialog_id';
                    oUl.className='box-one-list';
                    oUl.style.maxHeight='280px';
                    for(var item in _this.userList){
                        if(_this.userList[item].userName.indexOf(inputString)>=0){
                            oUl.innerHTML+='<li><img src="'+_this.userList[item].userImg+'" class="box-one-img">'+
                                    '<span class="box-one-name">'+_this.userList[item].userName+'</span></li>'
                        }
                    }
                    dialog.appendChild(oUl);
                    //socket.emit('getUserList',inputString);
                    /*_this.$http.post('/users/searchUser',{name:inputString}).then(function(res){
                        console.log(res)
                    },function(res){
                        console.log(res)
                    })*/

                })

            },
            //弹窗组件，修改名字，第二个参数为点击确认后的callback
            updateName:function(){
                this.playMusic();
                Dialog.prompt({ title:'修改昵称',submit:'确认',input:'修改昵称',maskOpacity:0}, function(inputString){


                })
            },
            //弹窗组件，修改头像 ，第二个参数为点击确认后的callback，第三个参数为insertHtml
            modifyImg:function(){
                this.playMusic();
                Dialog.prompt({ title:'上传头像',input:'上传本地头像',submit:'上传',maskOpacity:0}, function(obj){


                })
            },
            //弹窗组件，维护配置开关 ,需要配置参数中传入控制开关的数组信息
            updateSetting:function(){
                this.playMusic();
                var _this=this;
                var obj={ title:'设置',input:'上传背景图',submit:'上传',maskOpacity:0,
                    Switch:[
                        {text:'提示音',type:this.music},
                        {text:'全屏',type:_this.screen}
                    ]
                };
                Dialog.setting(obj, function(obj,type){
                    switch(type){
                        case 'image':
                            console.log(obj.value);
                            break;
                        case 'switch':
                            if(obj.value=='全屏' && obj.checked){
                                MyConfig.screen.requestFullScreen(document.documentElement); // 整个网页
                                _this.screen=true;
                            }else if(obj.value=='全屏' && !obj.checked){
                                MyConfig.screen.exitFull(document.documentElement);
                                _this.screen=false;
                            }else if(obj.value=='提示音' && obj.checked){
                                _this.music=true
                            }else {
                                _this.music=false
                            }
                            break;
                        default:
                            break;
                    }
                });
                var MyConfig={};
                //全屏开关函数
                MyConfig.screen=(function(){
                    var _requestFullScreen=function(element) {
                        // 判断各种浏览器，找到正确的方法
                        var requestMethod = element.requestFullScreen || //W3C
                                element.webkitRequestFullScreen ||    //Chrome等
                                element.mozRequestFullScreen || //FireFox
                                element.msRequestFullScreen; //IE11
                        if (requestMethod) {
                            requestMethod.call(element);
                        }
                        else if (typeof window.ActiveXObject !== "undefined") {//for Internet Explorer
                            var wscript = new ActiveXObject("WScript.Shell");
                            if (wscript !== null) {
                                wscript.SendKeys("{F11}");
                            }
                        }
                    };
                    //退出全屏 判断浏览器种类
                    var _exitFull=function() {
                        // 判断各种浏览器，找到正确的方法
                        var exitMethod = document.exitFullscreen || //W3C
                                document.mozCancelFullScreen ||    //Chrome等
                                document.webkitExitFullscreen || //FireFox
                                document.webkitExitFullscreen; //IE11
                        if (exitMethod) {
                            exitMethod.call(document);
                        }
                        else if (typeof window.ActiveXObject !== "undefined") {//for Internet Explorer
                            var wscript = new ActiveXObject("WScript.Shell");
                            if (wscript !== null) {
                                wscript.SendKeys("{F11}");
                            }
                        }
                    };
                    return {exitFull:_exitFull,requestFullScreen:_requestFullScreen}
                }())

            },
            //弹窗提示 是否关闭该页面
            turnOff:function(){
                this.playMusic();
                Dialog.alert({ title:'退出聊天室',text:'是否去意义绝？',submit:'确认',undo:'再想想',
                    maskOpacity:0.5}, function(type){


                })
            },
            playMusic:function(){
                if(this.music){
                    oMusic.load();
                    oMusic.play();
                }
            }
        }
    });

</script>
</html>