.box{
  display: -webkit-flex;
  display: flex;
  justify-content:space-between;
  -webkit-justify-content: space-between;
  position:relative;
  height: 100%;
  /*flex-flow: column;*/
}
.active{
  border-radius: 10px;
  background-color:rgb(56,158,254) ;
}

/*登录区*/
.viewImg{
  list-style: none;
  /*display: flex;*/
  /*flex-flow: row wrap;*/
  /*justify-content: center;*/
  /*padding:0; margin: 0;*/


}

.viewImg-item{
  width: 50px;height: 50px;
  margin: 5px;
  border-radius: 50%;
  vertical-align: middle;
  float: left;
  box-sizing :border-box;
}
.viewImg-item:hover{
 border: 3px solid #f7ba2a;

}
.img-active{
  border: 3px solid #f7ba2a;
}

/*aside-one*/

.aside-one{
  width: 60px;
  height: 100%;
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-flow: column nowrap;
  justify-content: space-between;align-items: center;
  background-color:rgb(34,147,254);
}
.aside-one > div{
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
}

.aside-one-one{
  margin: 20px;
}
.aside-one-one img{
  width: 50px;
  height: 50px;
  border-radius: 50%
}
.aside-one-list{
  /*margin:0 auto;*/
  padding:0;

}
.aside-one-list li{
  list-style: none;
  padding: 10px 12px;

}
.aside-one-list li:hover{
  border-radius: 10px;
  background-color:rgb(56,158,254) ;
  cursor: pointer;
}

.aside-one-three{
  padding-top:60px;
}

.aside-one-three p{
  padding: 10px 12px;
}

.aside-one-three > p:hover{
  border-radius: 10px;
  background-color:rgb(56,158,254) ;
  cursor: pointer;
}

/*.aside-one-show{*/
  /*transition: width 5s;*/
  /*-webkit-transition: width 2s;*/
/*}*/
/*box-one*/
.box-one{
  width: 190px;
  height: 100%;
  background-color: rgb(241,242,245);
  display: flex;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  flex-wrap: nowrap;
  /*flex-flow: column nowrap;*/
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}
.box-one-leave{
  animation:boxoneLeave 1s;
  -moz-animation:boxoneLeave 1s;
  -webkit-animation:boxoneLeave 1s;
  -o-animation:boxoneLeave 1s;
}

@keyframes boxoneLeave
{
  from {width: 400px;}
  to { width: 190px;}
}
.box-one > h4{
  padding:10px;
}
.box-one-num{
  padding-left: 5px;font-size: 20px
}
.box-one-name{
  margin: 5px;overflow: hidden
}
.box-one-list{
  margin:0 auto;
  padding:0;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  border-top: 1px solid #d3d4d6;
  overflow-y: scroll;width: 95%

}
.box-one-list li{
  list-style: none;
  padding: 10px 12px;

}
.box-one-list li:hover{
  border-radius: 10px;
  background-color:rgb(248,249,250) ;
}

.box-one-img{
  width: 40px;height: 40px;
  border-radius: 50%;
  margin: 5px;
  vertical-align: middle;
}
.box-one-active{
  border-radius: 10px;
  background-color:rgb(248,249,250) ;
}

/*box-two*/
.box-two{
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  height: 100%;
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-flow: column nowrap;
  justify-content: space-around;
  background-color: rgb(245,245,245);
}
.box-two-one{
  background-color:rgb(248,249,250) ;
  height: 70px;
  /*border-bottom: 1px solid #f7ba2a;*/
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.img-set{
  margin: 10px 10px;
}
.box-two-inform{
  text-align: center;color: #13CE66;height:20px;margin-top: 10px
}
.box-two-two{
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex-flow: column nowrap;
  overflow-y:scroll;position: relative
}
.box-two-list{
  padding: 10px;
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-flow: row nowrap;

}

/*除本机外的客户端内容样式*/
.box-two-left{
  justify-content:flex-start ;
}
.box-two-left > p{
  order:1
}
.box-two-left > div{

  order:2;
}
.box-two-left .box-two-position{
  max-width: 750px;
  white-space:pre-wrap;
  text-align: left;
}
/*当前客户端发送的内容样式*/
.box-two-right{
  justify-content:flex-end ;
}
.box-two-right > p{

  order: 2;
}
.box-two-right > div:nth-child(1){

  order: 1;

}
.box-two-right .box-two-position{
  max-width: 750px;
  white-space:pre-wrap;
  text-align: right;
}
/* -------------*/
.two-list-item{
  margin: 10px 10px;
}

.box-two-text{
  display: inline-block;
  max-width: 750px;
  background-color: white;
  border: 1px solid #99A9BF;
  border-radius: 10px;
  padding: 5px 10px;
  white-space:pre-wrap;
  word-break:break-all;

}
.box-two-three{
  display: flex;
  display: -webkit-flex; /* Safari */
  justify-content: space-between;
  margin-bottom: 10px;

}
.box-two-three input{

  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;


}

/*aside-two*/
.aside-two{
  width: 210px;
  height: 100%;
  background-color:rgb(248,249,250) ;

}
.aside-two-list{
  margin:0 auto;
  padding:0;

}
.aside-two-list li{
  list-style: none;
  padding: 10px 12px;

}
.asideLeave{
  animation:myaside 1s;
  -moz-animation:myaside 1s;
  -webkit-animation:myaside 1s;
  -o-animation:myaside 1s;
}

@keyframes myaside
{
  from {width: 400px;}
  to { width: 210px;}
}
/*遮罩层*/
.mask{
  position: fixed;z-index: 999;top: 0;left: 0;
  width: 100%;height: 100%;background-color: #475669;
  opacity:0.5;display:block;
  animation:mymask 1s;
  -moz-animation:mymask 1s; /* Firefox */
  -webkit-animation:mymask 1s; /* Safari and Chrome */
  -o-animation:mymask 1s; /* Opera */
}
.newName{
  position: fixed;z-index: 1000;top: 30%;left: 40%;
  animation:myfirst 1s;
  -moz-animation:myfirst 1s; /* Firefox */
  -webkit-animation:myfirst 1s; /* Safari and Chrome */
  -o-animation:myfirst 1s; /* Opera */
}
/*弹窗*/
.dialog-login{
  background-color: white;
  border-radius: 5px;
  color: #475669;
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-flow: column nowrap;
  justify-content: space-between;
}
.dialog-login > div:nth-child(2){
  padding: 30px 20px;
}
.dialog-login-header{
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  padding: 20px;
}
.close{
  float: right;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}
.close:hover{
  color: #20a0ff;
}

@keyframes myfirst
{
  from {left: -40%;}
  to {left: 40%;}
}

@keyframes mymask
{
  from {width: 0;}
  to {width: 100%;}
}

.showmask{
  animation:mymaskleave 1s;
  -moz-animation:mymaskleave 1s;
  -webkit-animation:mymaskleave 1s;
  -o-animation:mymaskleave 1s;
  width: 0;

}
@keyframes mymaskleave
{
  from {width: 100%;}
  to {width: 0;}
}

.inputLeave{
  animation:inputShow 1s;
  -moz-animation:inputShow 1s; /* Firefox */
  -webkit-animation:inputShow 1s; /* Safari and Chrome */
  -o-animation:inputShow 1s; /* Opera */
  left: -100%;
}
@keyframes inputShow {
  from{ left: 40%}
  to{ left: -40%}
}